body{
    margin: 50px 50px 0px 50px;
    display: flex;
    flex-direction: column;
}
.main{
    flex: 1;
}
h1 {
    font-size: 5rem;
}
.tile-image{
    height: 200px;
    float:left;
    margin-right: 50px;
}
.card{
    width: 45%;
}
.left{
    float: left;
}
.right{
    float: right;
}
footer{
    text-align: right;
    color: midnightblue;    
}
@media (max-width:600px){
    .logo{
        width: 100px;
    }
    h1{
        font-size: 3.5rem;   
    }
    .card{
        width: 100%;
        display: block;
        margin-bottom: 30px;
        text-align: justify;
    }
    .tile-image{
        margin-bottom: 10px;
        width: 100%;
        display: block;
        object-fit: cover;  
    }
}
